{% extends 'base.html' %}

{% block title %}View - {{ post.title }}{% endblock %}

{% block content %}
     {# heart #}
     <button class="favorite-btn">
        {% if not is_favorite %}
            <svg xmlns="http://www.w3.org/2000/svg" class="favorite-icon bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="filled-favorite-icon favorite-icon bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
        {% endif %}
    </button>

    <div class="center-container" id="view-post-container">
        <h1 class="mb-3">{{ post.title }}</h1>
        <h4 class="subtitle">By {{ post.creator }}</h4>



        <div class="ratings">
            {% include 'components/stars.html' %}
            <span class="subtitle">
                {% if amount_of_ratings == 1 %}
                    {{ amount_of_ratings}} Rating
                {% else %}
                    {{ amount_of_ratings}} Ratings
                {% endif %}
            </span>
        </div>
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>
    </div>
{% endblock %}
