:root {
    --main-bg: #1E1E1E;
    --main-color: #E0E0E0;
    --navbar-bg: #424242;
}

body {
    background-color: var(--main-bg);
    color: var(--main-color);
    font-family: Poppins, sans-serif;
}

.navbar {
    background-color: var(--navbar-bg);
    color: var(--main-color);
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    /* box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

.auth-link {
    text-decoration: none;
    color: var(--main-color);
    transition-property: all;
    transition-duration: 150ms;
}

.auth-link:hover {
    text-decoration: underline;
}


