:root {
    --main-bg: #1E1E1E;
    --main-color: #E0E0E0;
    --navbar-bg: #424242;
    --primary-bold: #58CAF4;
    --primary-action: #81D4FA;
    --primary-action-hover: #40C4FF;
    --secondary: #B3E5FC;
    --card-color: #292929;
    --subtitle-color: #747474;
}

body {
    background-color: var(--main-bg);
    color: var(--main-color);
    font-family: Poppins, sans-serif;
}

.navbar {
    background-color: var(--navbar-bg);
    color: var(--main-color);
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    /* box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

.auth-link {
    text-decoration: none;
    color: var(--main-color);
    transition-property: all;
    transition-duration: 150ms;
}

.auth-link:hover {
    text-decoration: underline;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container {
    padding: 0.5rem;
    background-color: var(--card-color);
    border-radius: 5px;
    width: 30rem;
    display: flex;
    
}

#search-input {
    background-color: inherit;
    color: white;
    border: none;
    width: 100%;
}

#search-btn {
    color: white;
    background-color: inherit;
    border: none;
}

.tabs {
    margin-bottom: 1rem;
}

.tab {
    width: 10rem;
    height: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border: none;
    background-color: var(--main-bg);
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
}

.selected-tab {
    color: var(--primary-bold);
    border-bottom: 2px solid var(--primary-bold);
}


.post-card {
    background-color: var(--card-color);
    color: var(--main-color);
    width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    list-style-type: none;
}


.post-card-link {
    text-decoration: none;
    color: var(--main-color);
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    fill: #FFCA28;
}

.card-bottom {
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    gap: 1rem;
}

.category {
    color: var(--secondary);
    text-decoration: none;
}


.editing-controls {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.editing-controls-link {
    text-decoration: none;
    color: var(--main-color);
}

.editing-controls-icon {
    height: 20px;
    width: 20px;
}

#create-btn {
    background-color: var(--primary-action);
    color: var(--main-bg);
    border: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 8rem;
    bottom: 4rem;
    transform: scale(2);
}

#create-btn:hover {
    background-color: var(--primary-action-hover);
}

.subtitle {
    color: var(--subtitle-color);
}

.ratings {
    display: flex;
    gap: 1rem;
}

.post-content {
    margin-top: 3rem;
    width: 50%;
    font-size: 1.3rem;
    line-height: 2.4rem;
}


.favorite-btn {
    background-color: var(--main-bg);
    border: none;
    cursor: pointer;
}

.favorite-icon {
    cursor: pointer;
    fill: var(--main-color);
    height: 40px;
    width: 40px;
    position: absolute;
    right: 4rem;
    top: 8rem;
}

.filled-favorite-icon {
    fill: #FF1744;
}


.post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.post-form-field {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post-form-field label {
    margin-bottom: 0.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.post-form-field input, .post-form-field textarea, .post-form-field select {
    background-color: var(--card-color);
    color: var(--main-color);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
}


.button {
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;

}

.button-action {
    background-color: var(--primary-action);
    color: var(--main-bg);
    transition-property: all;
    transition-duration: 150ms;
}

.button-action:hover {
    background-color: var(--primary-action-hover);
    color: var(--main-bg);
}


.file-upload-btn {
    margin-top: 1rem; 
    margin-bottom: 1rem;
    background-color: var(--card-color);
    color: var(--main-color);
}
